:root{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100%;
  background-color: beige;
  font-family:  monospace;
  font-size: 18px;
}
#quote-box{
  width: 500px;
  height: fit-content;
  margin: 0 auto;
  background-color: aquamarine;
  color:#333333;
}
#text{
  font-weight: 600;
}
#author{
  margin: 0 auto;
  right: 0;
  font-style: italic;
}
#new-quote{
  outline:none;
  background-color: crimson;
  border: none;
  padding: 10px 16px;
  border-radius: 20px;
  margin: 10px 10px 0;
  font-family: serif;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition: all 300ms ease-out;
}
#new-quote:hover{
  transform: scale(1.08);
}